openapi: 3.1.0
info:
  title: Chameleon REST Alert Groups Interactions API
  version: '3'
  description: 'Chameleon server-side REST API for managing in-app product Experiences:

    user profiles, companies, segments, tours, microsurveys, launchers,

    tooltips, webhooks, themes, deliveries, and analytics. Authenticates

    with the X-Account-Secret header containing your account secret.

    '
  contact:
    name: Chameleon Developer Portal
    url: https://developers.chameleon.io/
servers:
- url: https://api.chameleon.io/v3
security:
- accountSecret: []
tags:
- name: Interactions
paths:
  /analyze/interactions:
    get:
      tags:
      - Interactions
      summary: List tour interactions
      operationId: listInteractions
      responses:
        '200':
          description: List
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListEnvelope'
  /analyze/interactions/{id}:
    parameters:
    - in: path
      name: id
      required: true
      schema:
        type: string
    get:
      tags:
      - Interactions
      summary: Retrieve a tour interaction
      operationId: getInteraction
      responses:
        '200':
          description: Interaction
          content:
            application/json:
              schema:
                type: object
components:
  schemas:
    ListEnvelope:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
        next:
          type: string
          nullable: true
  securitySchemes:
    accountSecret:
      type: apiKey
      in: header
      name: X-Account-Secret
      description: Your Chameleon account secret. See https://developers.chameleon.io/api-introduction/authentication
